.exercise{
    width: 272px;
    height: 480px;
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.065) 0px 1px 4px; */
}
.exercise-info{
    background-color: white;
    margin: 14px;
    font-weight: 300;
}
.exercise-info p span{
    font-weight: 600;
}
.exercise-info p{
    margin: 3;
}
.exercise img{
    width: 245px;
    height: 140px;
    margin: 14px;
    border-radius: 8px;
}
.button{
    width: 91%;
    border: none;
    border-radius: 8px;
    margin: 12px;
    background-color: #EB9F07;
    cursor: pointer;
    color: white;
    font-weight: 700;
}

@media (max-width: 600px){
    .exercise{
        width: 100%;
        margin: 0;
    }
    .exercise img{
        width: 90%;
    }
}
